{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Салон оптики</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'optics/style.css' %}">

</head>

<body style="background-color: rgba(248, 248, 255, 1);padding: 0; max-height: 95vh"">
    <header class="header-area">
        <script>
            function checkOrderOptic(){
                result = prompt("Введите номер заказа", '');
                if ((typeof Number(result)) != 'number' || (isNaN(Number(result))) || result == null) return alert('Введино не число!')
                location.href = '/optics/order/' + result
            }
            function checkOrderService(){
                result = prompt("Введите номер заказа", '');
                if ((typeof Number(result)) != 'number' || (isNaN(Number(result))) || result == null) return alert('Введино не число!')
                location.href = '/service/order/' + result
            }
        </script>
        <div style="display: grid; grid-template-columns: 79vw 13vw 4vw; margin: 1.8vw 1.5vw 1.5vw 1.5vw">
            <img src="{% static 'optics/logo.png' %}" style="max-width: 10vw">
            <input id="search" style="max-width:13vw; max-height: 2vw; margin-top: 1vw;" type="search" class="form-control" placeholder="Введите название товара" aria-label="Search" aria-describedby="search-addon" />
            <button style="max-height: 2vw;margin-top: 1vw;margin-left: 0.5vw;" class="btn btn-primary">найти</button>
          </div>
        <div class="bottom-header" style="background-color: rgba(170,144,113,1); margin-bottom: 1vw;">
            <div style="max-width: 80vw" class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gazetteMenu" aria-controls="gazetteMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
                                <div class="collapse navbar-collapse" id="gazetteMenu">
                                    <ul class="navbar-nav mr-auto">
                                        <li style="border-radius: 15px; margin-right: 2vw" class="nav-item active">
                                            <a style="color: White; font: 2em sans-serif;" class="nav-link" href="/">Главная</a>
                                        </li>
                                        <li style="border-radius: 15px" class="nav-item active">
                                            <a style="color: White; font: 2em sans-serif;" class="nav-link" href="/optics/">Каталог</a>
                                        </li>
                                        <div style="width: 1vw"></div>
                                        <li style="border-radius: 15px" class="nav-item">
                                            <a  style="color: White; font: 2em sans-serif;" class="nav-link" href="/services/" >Услуги</a>
                                        </li>
                                        <li class="nav-item">
                                            <button onClick="checkOrderOptic()" style="border-radius: 2vw;cursor: pointer;box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);background-color: transparent;color: White; font: 1.8em sans-serif; margin-left: 7vw" class="nav-link">
                                                Проверить заказ товара
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button onClick="checkOrderService()" style="border-radius: 2vw;cursor: pointer;box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);background-color: transparent;color: White; font: 1.8em sans-serif; margin-left: 7vw" class="nav-link">
                                                Проверить заказ услуги
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        <section> 
            {% block content %}
            {% endblock content %}
        </section>
    <footer style="background-color: #131111;">
        <br>

        <div style="display: grid; grid-template-columns: 40vw 40vw; margin-left: 18vw">
            <!-- Bottom Footer Area -->
            <div style="color: #fdfff5; font-size: 1.8rem;">
                <h2 style="color: #fdfff5">Полезное</p>
                <ul type="square">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw">
                        <a style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;  margin: 0.9vw" href="/optics">
                            Товары
                        </a>
                    </li>
                    <hr style="color: grey; width: 18vw">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw;">
                        <a style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;  margin: 0.9vw" href="/services">
                            Услуги
                        </a>
                    </li>
                    <hr style="color: grey; width: 18vw">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw">
                        <button onClick="checkOrderOptic()" class="btn" style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;">
                            Проверить заказ на товар
                        </button>
                    </li>
                    <hr style="color: grey; width: 18vw">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw">
                        <button onClick="checkOrderService()" class="btn" style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;">
                            Проверить заказ на услугу
                        </button>
                    </li>
                </ul>
            </div>
            
            <div style="color: #fdfff5; font-size: 1.8rem;">
                <h2 style="color: #fdfff5">Адреса</p>
                <ul type="square">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw">
                        <span style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;">
                            Ростов-на-Дону, пр-т Чехова, 55
                            Тел.: 8 (863) 303-52-52
                        </span>
                    </li>
                    <hr style="color: grey; width: 18vw">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw">
                        <span style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;">
                            Ростов-на-Дону, пр-т Чехова, 55
                            Тел.: 8 (863) 303-52-52
                        </span>
                    </li>
                    <hr style="color: grey; width: 18vw">
                    <li style="color: rgba(169,169,169,1); max-width: 17vw">
                        <span style="color: #fffdf9; font-size: 1.3rem; word-wrap:break-word; text-decoration: none;">
                            Ростов-на-Дону, ул. Суворова, 39
                            Тел.: 8 (863) 303-52-52
                        </span>
                    </li>
                </ul>
            </div>
        </div>
            <hr style="color: grey; border: solid 1px; width:50%; margin-left:25% !important; margin-right:25% !important;">
            <br>
    </footer>
    <!-- Footer Area End -->

    <script src="{% static 'optics/js/bootstrap.min.js' %}"></script>
</body>

</html>